* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'mexico', Arial, Helvetica, sans-serif;
}

canvas {
  background-color: black;
  border: 20px groove #70312D;
  box-shadow: 4px 4px 8px 0px #000000;
}

h1 {
  font-size: 96px;
  color: rgb(69, 28, 37);
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgb(225, 210, 189), 4px 4px 0 rgb(160, 35, 9);
}


@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  h1 {
    display: none;
  }
}