* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.dNone {
  display: none;
}

.screen {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: none;
}

.screen.visible {
  opacity: 1;
  display: flex;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-image: url("../assets/img/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "mexico", Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
}

#game {
  height: 520px;
  width: 760px;
  background-color: black;
  border: 20px groove #70312d;
  box-shadow: 4px 4px 8px 0px #000000;
}

#gameOverlay {
  position: relative;
  display: inline-block;
}

.bgImages {
  width: 720px;
  height: 480px;
}

.startGameBtn {
  display: flex;
  padding: 8px 16px;
  background-color: rgb(247, 194, 115);
  border: 4px groove #70312d;
  box-shadow: 1px 1px 2px 0px #000000;
  font-family: "mexico", Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  transform-origin: center;
  cursor: pointer;
}

.startGameBtn:hover {
  transform: translate(-50%, -50%) scale(1.01);
}

h1 {
  font-size: 96px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgb(225, 210, 189), 4px 4px 0 rgb(160, 35, 9);
  margin: 0;
}

.audioBtn {
  display: flex;
  padding: 4px;
  background-color: rgb(247, 194, 115);
  height: 48px;
  width: 48px;
  border: 4px groove #70312d;
  box-shadow: 1px 1px 2px 0px #000000;
}

.howtoSection {
  width: 720px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
  background-color: rgb(247, 194, 115);
  border: 8px groove #70312d;
  box-shadow: 2px 2px 4px 0px #000000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.arrowContainer {
  display: flex;
  align-items: center;
}

.seperator {
  width: 1px;
  height: 20px;
  background-color: #70312d;
}

.infoSection {
  width: 720px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
  background-color: rgb(247, 194, 115);
  border: 4px groove #70312d;
  box-shadow: 1px 1px 2px 0px #000000;
}

.infoSection a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(69, 28, 37);
}

.startGameBtn:hover,
.infoSection a:hover {
  color: rgb(188, 78, 46);
}

.infoSection img {
  height: 40px;
  width: 40px;
}

.audioBtn,
.madeByDavid {
  transition: 0.2s;
  cursor: pointer;
}

.audioBtn:hover,
.infoSection a:hover,
.madeByDavid:hover {
  transform: scale(1.02);
}

/* Footer */
footer {
  background: rgb(71, 45, 46);
  background: linear-gradient(
    90deg,
    rgba(71, 45, 46, 1) 0%,
    rgba(93, 89, 89, 0.05) 50%
  );
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  color: rgb(71, 45, 46);
  margin-top: auto;
}

.madeByDavid {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#davidPic {
  height: 32px;
}

#davidText {
  display: flex;
  align-items: center;
  color: rgb(71, 45, 46);
  font-size: 12px;
}

#heartIcon {
  height: 16px;
  padding: 0px 1px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  h1 {
    display: none;
  }
}
